@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #101010;
    --containers: #1F1F1F;
    --active: #FFFFFF;
    --disable: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 1064px) {
    #newToDo{
        width: 30vw;
    }

    #newToDo:focus{
        width: 40vw;
    }

    main{
        width: 40vw;
        min-width: 210px;
    }
}

@media screen and (max-width: 1063px) {
    #newToDo{
        width: 20vw;
        min-width: 210px;
    }

    #newToDo:focus{
        width: 40vw;
    }

    
}

@media screen and (max-width: 767px) {
    #newToDo{
        width: 40vw;
        max-width: 250px;
    }
}

body{
    background-color: var(--background);
}

main{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 5px;

    background-color: var(--containers);

    padding: 20px;

    border-radius: 10px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--disable);
}

.toDoContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    
    width: 100%;
    min-width: 300px;
}

.toDo{
    display: flex;
}

.toDoName{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;

    margin-left: 3px;
}

.toDoContainer i{
    color: var(--active);
    font-size: 1.5em;
}

.btnCheck{
    cursor: pointer;
}

.btnTrash{
    margin-left: 15px;
    cursor: pointer;

    transition: .2s;
}

.btnTrash:hover, .btnTrash:active{
    color: rgb(255, 40, 40);
}

#addBar{
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);

    background-color: var(--containers);

    display: flex;
    
    padding: 5px 5px 5px 20px;

    border-radius: 40px;

    
}

#newToDo{
    background-color: transparent;

    border: none;

    font-size: 1.2em;

    color: var(--active);

    transition: .6s;
}

#newToDo::placeholder{
    color: var(--disable);
}

#newToDo:focus{
    border: none;
    outline: none;
}

#btnAdd{
    background-color: transparent;

    font-size: 2.5em;
    color: var(--disable);

    border: none;

    margin-left: 5px;

    cursor: pointer;

    transition: .1s;
}

#btnAdd:hover, #btnAdd:active{
    color: var(--active);
}

#newToDo:focus + #btnAdd{
    color: var(--active);
}

