@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #101010;
    --containers: #1F1F1F;
    --active: #FFFFFF;
    --disable: rgba(255, 255, 255, 0.3);
}

body{
    background-color: var(--background);
}
