@charset "UTF-8";

:root{
    --background: #111827;
    --background-container: #1F2937;
    --background-itens-container: #374151;
    --text: #FFFFFF;
    --text-input: #CCCCCC;
    --input-radius: #6B7280;
    --input-radius-selected: #22C55E;
    --btn-delete: #9CA3AF;
    --btn-add-todo: #9333EA;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-color: var(--background);

    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

header{
    color: var(--text);

    width: 100%;
    max-width: 60vw;

    text-align: left;

    margin-top: 32px;
    margin-bottom: 24px;
}

