@charset "UTF-8";

@media screen and (max-width: 768px) {
    header{
        max-width: 80vw;
    }

    main{
        max-width: 80vw;
    }

    #inputsTodo{
        display: flex;
        flex-direction: column;

        gap: 12px;
    }
}

@media screen and (min-width: 768px) {
    header{
        max-width: 50vw;
    }

    main{
        max-width: 50vw;
    }

    #inputsTodo{
        display: flex;
        flex-direction: row;

        gap: 12px;
    }
}

:root{
    --background: #111827;
    --background-container: #1F2937;
    --background-itens-container: #374151;
    --background-todo-checked: rgba(55, 65, 81, 0.5); 
    --text: #FFFFFF;
    --text-input: #CCCCCC;
    --text-todo-checked: #9CA3AF;
    --input-radius: #6B7280;
    --input-radius-selected: #22C55E;
    --btn-delete: #9CA3AF;
    --btn-delete-hover: rgb(239 68 68); 
    --btn-add-todo: #9333EA;
    --btn-add-todo-hover: rgb(126 34 206);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;

    -webkit-tap-highlight-color: transparent;
}

main{
    width: 100%;
}

body{
    background-color: var(--background);

    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

header{
    color: var(--text);

    width: 100%;

    text-align: left;

    margin-top: 32px;
    margin-bottom: 24px;
}

section{
    width: 100%;

    background-color: var(--background-container);

    border-radius: 8px;

    padding: 16px;

    margin-bottom: 24px;
}

.addTodoContainer{
    display: flex;
    flex-direction: column;
}

h2{
    color: var(--text);

    font-size: 1.1em;

    margin-bottom: 18px;
}



#inputNewTodo{
    width: 100%;
    
    background-color: var(--background-itens-container);

    color: var(--text);
    font-size: 1em;

    padding: 8px 16px;

    border: none;
    border-radius: 8px;
    outline: none;

    transition: .2s;
}

#inputNewTodo::placeholder{
    color: var(--text-input);
}

#inputNewTodo:focus{
    outline: solid 2px var(--btn-add-todo);
}

#btnAddTodo{
    background-color: var(--btn-add-todo);

    color: var(--text);
    font-size: 1em;

    padding: 8px 16px;

    border: none;
    border-radius: 8px;

    transition: 0.2s;

    cursor: pointer;
}

#btnAddTodo:hover{
    background-color: var(--btn-add-todo-hover);
}

#listTodo{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.todoContainer{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    background-color: var(--background-itens-container);

    border-radius: 6px;

    padding: 12px;
}

.todo{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.todo p{
    color: var(--text);
    font-size: 1em;
}

.todoChecked{
    background-color: var(--background-todo-checked);
}

.todoChecked p{
    text-decoration: line-through;
    color: var(--text-todo-checked);
}

.todoChecked .todo i{
    color: var(--input-radius-selected);

    font-size: 1.3em;

    cursor: pointer;

    transition: .2s;
}

.btnCheckTodo{
    color: var(--input-radius);

    font-size: 1.3em;

    cursor: pointer;

    transition: .2s;
}

.btnCheckTodo:hover{
    color: var(--btn-add-todo);
}

.btnDeleteTodo{
    color: var(--btn-delete);

    font-size: 1.2em;

    cursor: pointer;
    transition: .2s;
}

.btnDeleteTodo:hover{
    color: var(--btn-delete-hover);
}